<div>
    <Header/>
    <div class="main">
<!--        <figure>-->
<!--            <img src="@/assets/Captures_Amityville/1_Porte.png" alt="">-->
<!--        </figure>-->
<!--        <figure>-->
<!--            <img src="@/assets/left.svg" alt="">-->
<!--        </figure>-->
        <div class="gameView">
            <figure class="arrow">
                <img src="@/assets/left.svg" alt="">
            </figure>
            <div class="view">
                <figure class="picture">
                    <img :src="page.imageUrl" alt="">
                </figure>
            </div>
        </div>
    </div>
</div>