<div>
    <Header/>
    <div class="main">
        <div class="gameView">
            <figure class="arrow">
                <img src="@/assets/left.png" alt="">
            </figure>
            <div class="view">
                <figure class="picture">
                    <img :src="page.imageUrl" alt="">
                </figure>
            </div>
            <figure class="arrow">
                <img src="@/assets/right.png" alt="">
            </figure>
        </div>
    </div>
</div>