<div>
    <Header/>
    <div class="main">
        <h2>The Devil's House</h2>
        <figure class="vignette" @click="toGame">
            <img src="@/assets/Captures_Amityville/Vignette.png" alt="">
        </figure>
        <div class="topFive">
            <h2>Top 5</h2>
            <table>
                <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Temps</th>
                </tr>
                </thead>
                <tbody>    <!-- TODO: à remplacer quand back fini -->
                <tr>
                    <td>Fadi</td>
                    <td>3'25"</td>
                </tr>
                <tr>
                    <td>Oli</td>
                    <td>3'30"</td>
                </tr>
                <tr>
                    <td>Nico</td>
                    <td>3'31"</td>
                </tr>
                <tr>
                    <td>Dom</td>
                    <td>3'40</td>
                </tr>
                <tr>
                    <td>Alex</td>
                    <td>3'41"</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
