* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    text-align: center;
    font-family: 'Playfair Display', serif;
    padding-top: 5em
}
.main h1{
    color: #cbab00;
    margin: 7em 0 1.25em;
    font-size: 3em
}
.main p{
    color: #cbab00;
    font-size: 1.25em
}
